# --- GRADLE VE BUILD (En Önemli Kısım) ---
.gradle/
build/
out/
bin/

# --- DERLENMİŞ ÇÖP DOSYALAR ---
*.class
*.log
*.lock
*.bin
*.jar
*.war
*.ear

# --- INTELLIJ IDEA ---
.idea/
*.iws
*.iml
*.ipr

# --- ECLIPSE ---
.classpath
.project
.settings/
.springBeans
.sts4-cache
.factorypath

# --- VS CODE ---
.vscode/

# --- MAC OS ---
.DS_Store

# --- WINDOWS ---
Thumbs.db